<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calcul </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container"style="max-width: 700px;">

        <div class="text-center" style="margin: 20px 0px 20px 0px;">
            <a href="https://coubiac.github.io/" target="_blank"><img src="https://blog-download.s3.eu-west-3.amazonaws.com/logo-horizontal.png"></a><br>
            <span class="text-secondary">Application de calcul de sous réseaux IPV4</span>
        </div>

        <div class="row">
            <div class="col" th:each="subnet : ${subnets}">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" th:text=${subnet.name}></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Adresses nécéssaires</th>
                            <td th:text=${subnet.neededSize}></td>
                        </tr>
                        <tr>
                            <th scope="row">Adresses allouées</th>
                            <td th:text=${subnet.allocatedSize}></td>
                        </tr>
                        <tr>
                            <th scope="row">CIDR du réseau</th>
                            <td th:text="${subnet.address} + ${subnet.mask}"></td>
                        </tr>

                        <tr>
                            <th scope="row">Masque</th>
                            <td th:text="${subnet.decMask}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Adresse du réseau</th>
                            <td th:text="${subnet.address}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Premier hôte</th>
                            <td th:text="${subnet.firstUsableAddress}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Dernier hôte</th>
                            <td th:text="${subnet.lastUsableAddress}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Broadcast</th>
                            <td th:text="${subnet.broadcast}"></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <a class="btn btn-primary" th:href="@{/}">Nouveau calcul</a>
    </div>


</body>
</html>